.nav-tabs {
  padding: 20px 0 0;
  margin: 0 20px 0;
  li {
    width: 14.285%;
    a {
      border: none !important;
      border-bottom: transparent 3px solid !important;
      div.date-heading {
        font-size: 14px;
        display: flex;
        align-items: center;
        line-height: 1;
        font-weight: bold;
        padding: 0 0 10px;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        > div {
          display: flex;
          align-items: center;
        }

        span {
          margin-left: 10px;
          display: block;
          font-weight: normal;
          font-size: 14px;
        }

        i {
          font-size: 12px;
          font-style: normal;
          margin-top: 5px;
          display: block;
          font-weight: normal;
        }
      }
    }
    &.active {
      a {
        border-bottom: $primary-color 3px solid !important;
        color: $primary-color;

        &:hover,
        &:focus {
          color: $primary-color;
        }

        div.date-heading {
          font-size: 18px;
          span {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.h-th {
  span {
    font-weight: normal;
    color: #666;
    text-transform: none;
    font-size: 12px;
  }
}

.emp-hours {
  margin: 20px;
  display: flex;

  &__left {
    width: 22%;

    .h-th {
      text-transform: none;
      span {
        font-weight: normal;
        color: #666;
      }
    }
  }
  &__right {
    width: 78%;
    overflow-x: auto;

    .h-td {
      width: 70px !important;
      &:hover {
        background: #f2f2f2;
      }
    }

    .h-th {
      width: 90px !important;
      text-align: center;
    }
  }

  .h-th,
  .h-td {
    padding: 5px 10px;
    white-space: nowrap;
    border: 1px solid #f2f2f2;
    border-right: none;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 70px;
    overflow: hidden;
  }

  .h-td {
    padding: 0;

    .emp-shift {
      &.on {
        &:after {
          display: block;
          content: "";
          width: 100%;
          height: 10px;
          background: $primary-color !important;
        }
      }
    }
  }

  .h-th {
    font-weight: bold;
    text-transform: uppercase;

    .emp-name {
      text-transform: none;
      span {
        display: block;
      }
    }
  }

  .h-row {
    display: flex;
  }
}

// printing styles

@media print {
  .print-btn,
  #days li:not(.active) {
    display: none;
  }

  #days li.active {
    a {
      border: none !important;
    }

    .date-heading {
      align-items: flex-start;
      justify-content: flex-start;

      > div {
        font-size: 20px;

        span {
          font-size: 20px;
        }
      }
      i {
        font-size: 16px;
      }
    }
  }

  .emp-hours__left {
    width: 12%;
  }

  .emp-hours__right {
    width: 88%;
    overflow: hidden;

    .h-th,
    .h-td {
      padding-left: 2px;
      padding-right: 2px;
      min-width: 40px;
      font-size: 11px !important;

      span {
        font-size: 11px !important;
      }
    }

    .h-td {
      padding: 0;
    }
  }
}
