// typography
$default-font-color: #7a7a7a;
$default-font-size: 17px;
$default-font-family: "Jost", sans-serif;

$img-path: "../media";
$fontPath: "../../fonts";
// Colors
$primary-color: #26a69a;

$green-color: #35d881;
$purple-color: #6c63ff;
$gold-color: rgb(255, 179, 0);
$yellow-color: #f9ffbf;
$white-color: #ffffff;
$black-color: #000000;
$red-color: #ba183c;

$gray-1: #a5a5a5;
$gray-2: #cbcbcb;
$gray-3: #9b9b9b;
