{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Schedule By Hour</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://wpcore.workportal.co/theme/admin/css/icons/icomoon/styles.css" rel="stylesheet"/>
    <link href="https://wpcore.workportal.co/theme/admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://wpcore.workportal.co/theme/admin/css/core.min.css" rel="stylesheet"/>
    <link href="https://wpcore.workportal.co/theme/admin/css/components.min.css" rel="stylesheet"/>
    <link href="https://wpcore.workportal.co/theme/admin/css/colors.min.css" rel="stylesheet"/>
    <link href="https://wpcore.workportal.co/theme/admin/css/style2020.css" rel="stylesheet"/>
    <link href="https://sa-v2.workportal.co/admin/calendar/scheduler?date=2021-11-01" rel="stylesheet"/>
    <link href="{{ paths.root + paths.styles }}/schedule-default.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ paths.root + paths.styles }}/main.css">
{% endblock %}